<h1> Finicity Institutions </h1>

<p>These are all Available Financial Institutions</p>
<hr/>

<div >
  <ul >
    <li > <%= link_to 'Institution.ID', institution_customers_path %> </li>
  </ul>
</div>