<div>
  <h1> Testing the Finicity API </h1>
  <hr/>

  <p>Click the buttons below to check it out</p>

  <div class="buttons">
      <%= link_to 'View Institutions', institutions_path %>
      <%= link_to 'Create Institutions', new_institution_path %>
  </div>

</div>
